<div class="row">
	<div class="col-md-3"</div>
<div class="center">
<!--<%=image_tag avatar_url(@user), class: "avatar_full"%>-->
</div>
<div class="panel panel-default">
<div class="panel_heading">Verification</div>
<div class="panel-body">
  <ul class="sidebar-list">
		<% if @user.confirmation_token %>
			<li>Email Address<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
		<% end %>
	<% if @user.confirmation_token %>
			<li>Phone Number<span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
</ul>
		<% end %>


</div>
</div>
</div>
	<div class="col-md-9"</div>
<h2><%= @user.fullname %></h2>
<div class="description row-space-3">
<div class="form-group">
	<%= text_area :description, rows: 5, cols: 25, autofocus: true, placeholder: "Description" %>
</div>

<%= @user.description %>
</div>
