<div class="row">
  <div class="col-md-3 col-sm-12">
    <a href="http://localhost:3000">
      <div class="home" style="background-image: url('/assets/home.jpg')"></div>
    </a>
<p>© <%= Date.today.year %> Sarah Wylie. </p>
